.page-body{
    background-image: url(../images/background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
}

.container{
    width: 1030px;
    margin: auto;
    padding: 0;
}

.page-header{
    height: 61px;
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

.logo-link:hover .logo-icon{
    content: url(../images/header-logo-2.png);
}

.logo-link:hover .logo-title{
    color: #F26522;
}

.logo-title{
    display: inline-block;
    vertical-align: bottom;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #fff;
    text-transform: uppercase;
}
.last-word{
    display: block;
    font-size: 18px;
    line-height: 18px;
}

.page-header__contact-box{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.contact-email,
.contact-number{
    color: #fff;
}

.contact-email:hover,
.contact-number:hover{
    color: #F26522;
}
/* ==================================== */
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content__photo-container{
    min-height: 560px;
    margin-top: 17px;
}

.photo-container__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 37px 61px;
}

.link-photo{
    object-fit: cover;
    object-position: center;
}

.link-title{
    display: block;
    padding-top: 20px;
    text-align: center;
    color: #fff;
    position: relative;
}

.slide-up-wrapper{
    height: 220px;
    position: relative;
    overflow: hidden;
}

.slide-up-box{
    background-color: #F26522;
    height: 55px;
    padding: 7px 16px 12px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    color: #fff;

    transform: translateY(100%);
}

.list-item__link:hover .slide-up-box{
    transform: translateY(0);
    transition: transform 0.5s ease;
}

.list-item__link:hover .link-title{
    color: #F26522;
}

.left-text{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 10px;
    line-height: 10px;
}

.left-bottom-text{
    font-size: 20px;
    line-height: 20px;
}

.right-text{
    align-self: flex-end;
    font-size: 14px;
    line-height: 14px;
}

.right-text::after{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 15px;
    margin-bottom: 1px;
    border: 1px solid #fff;
    border-left: 0px transparent;
    border-bottom: 0px transparent;
    transform: rotate(45deg);
}

.page-footer{
    margin-top: 49px;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
}
